<div class="pull-right">
  <% show_schedule = Gettext.gettext(Schoolit.Gettext, show_schedule_link_text(@show_schedules)) %>
  <%= link show_schedule,
      to: time_line_path(@conn, :index, @teacher.url_code, show_schedules: toggle_show_schedules(@show_schedules)) %>
</div>

<h3>
  <%= gettext "What is next" %>
  <%= gettext("Group %{firstname} %{lastname}", firstname: @teacher.firstname, lastname: @teacher.lastname) %>
</h3>

<%= for {date, appointments} <- appointments_and_schedules(@appointments, @schedules) do %>
  <div class="row">
    <%= for time_line_el <- appointments do %>
      <div class="col-xs-2">
        <%= if first_element_id(appointments) == time_line_el.id do %>
          <% weekday_nr = date |> Ecto.Date.to_erl |> Date.from_erl! |> Date.day_of_week %>
          <% weekday_txt = Gettext.gettext(Schoolit.Gettext, Schoolit.GuestScheduleView.weekdays[weekday_nr]) %>
          <%= "#{weekday_txt}: #{date}" %>
        <% end %>
      </div>
      <div class="col-xs-10">
        <div class="list-group">
          <div class="list-group-item <%= time_line_el.type %>-list-group">
            <h4 class="list-group-item-heading">
              <%= link time_line_el.title, to: topic_path(@conn, :show, time_line_el.id, url_code: @teacher.url_code, element: time_line_el.type) %>
              <%= "#{Ecto.Time.to_string(time_line_el.from) |> String.slice(0..4)} - #{Ecto.Time.to_string(time_line_el.to) |> String.slice(0..4)}" %>
            </h4>
            <div class="list-group-item-content">
              <p class="list-group-item-text"><%= String.slice(time_line_el.content, 0..14) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr/>
<% end %>
