<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Schoolit!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
    <div class="container">
      <header class="header">
        <nav class="navbar navbar-default">
          <div class="container">
            <%= if @current_teacher do %>
              <%= link to: appointment_path(@conn, :index), class: "navbar-brand" do %>
                <i class="fa fa-list" aria-hidden="true"></i>
                <%= gettext("What next?") %>
              <% end %>

              <%= link to: schedule_path(@conn, :index), class: "navbar-brand" do %>
                <i class="fa fa-table" aria-hidden="true"></i>
                <%= gettext("Timetable") %>
              <% end %>
            <% end %>
            <%= if assigns[:teacher] && !@current_teacher do %>
              <%= link to: time_line_path(@conn, :index, @teacher.url_code), class: "navbar-brand" do %>
                <i class="fa fa-list" aria-hidden="true"></i>
                <%= gettext("What next?") %>
              <% end %>

              <%= link to: guest_schedule_path(@conn, :index, url_code: @teacher.url_code), class: "navbar-brand" do %>
                <i class="fa fa-table" aria-hidden="true"></i>
                <%= gettext("Timetable") %>
              <% end %>
            <% end %>
            <ul class="nav navbar-nav">
              <li></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
              <%= if @current_teacher do %>
                <li>
                  <%= link to: profile_path(@conn, :show) do %>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <%= @current_teacher.username %>
                  <% end %>
                </li>
                <li class="form-in-navbar">
                  <%= link to: session_path(@conn, :delete, @current_teacher), method: "delete" do %>
                    <i class="fa fa-power-off" aria-hidden="true"></i>
                    <%= gettext("Logout") %>
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link "Register", to: teacher_path(@conn, :new) %>
                </li>
                <li style="margin-right: 5px;"><%= link "Log in", to: session_path(@conn, :new) %></li>
              <% end %>
            </ul>
          </div>
        </nav>
			</header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
