<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p><%= gettext "Oops, something went wrong! Please check the errors below." %></p>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-xs-6">
      <%= label f, :weekday, gettext("Weekday"), class: "control-label" %>
      <%= select f, :weekday, weekdays() |> Enum.map(fn({k,v}) -> {Gettext.gettext(Schoolit.Gettext, v),k} end), prompt: gettext("Please select"), class: "form-control" %>
      <%= error_tag f, :weekday %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-6">
      <%= label f, :lesson_order, gettext("Lesson Order"), class: "control-label" %>
      <%= select f, :lesson_order, Enum.to_list(1..12), prompt: gettext("Please select"), class: "form-control" %>
      <%= error_tag f, :lesson_order %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-6">
      <%= label f, :title, gettext("Title"), class: "control-label" %>
      <%= text_input f, :title, class: "form-control" %>
      <%= error_tag f, :title %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-3">
      <%= label f, :from, gettext("From"), class: "control-label" %>
      <div class='input-group date js-timepicker'>
        <%= text_input f, :from, class: "form-control" %>
        <span class="input-group-addon">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </span>
      </div>
      <%= error_tag f, :from %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-3">
      <%= label f, :to, gettext("To"), class: "control-label" %>
      <div class='input-group date js-timepicker'>
        <%= text_input f, :to, class: "form-control" %>
        <span class="input-group-addon">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </span>
      </div>
      <%= error_tag f, :to %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12">
      <%= label f, :content, gettext("Content"), class: "control-label" %>
      <%= textarea f, :content, class: "form-control" %>
      <%= error_tag f, :content %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12">
      <%= link to: schedule_path(@conn, :index), class: "btn btn-default" do %>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <%= gettext("Back") %>
      <% end %>
      <%= submit class: "btn btn-primary pull-right" do %>
        <i class="fa fa-save" aria-hidden="true"></i>
        <%= gettext("Submit") %>
      <% end %>
    </div>
  </div>
<% end %>

<link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>var simplemde = new SimpleMDE();</script>
