<h2><%= "#{gettext("Listing the timetable for class")} #{@school_class.name}" %></h2>

<% grouped_schedules_by_weekday = grouped_by_weekday(@schedules) %>
<% cols_span = cols_per_day(grouped_schedules_by_weekday) %>

<div class="row">
  <div class="col-xs-2">&nbsp;</div>
  <%= for {weekday_number, _} <- grouped_schedules_by_weekday do %>
    <div class="col-xs-<%= cols_span %> text-center">
      <h4><%= Gettext.gettext(Schoolit.Gettext, weekdays()[weekday_number]) %></h4>
    </div>
  <% end %>
</div>

<%= for lesson <- Enum.to_list(1..max_lessons_per_week(@schedules)) do %>
  <hr/>
  <div class="row">
    <div class="col-xs-2">
      <h4><%= "#{lesson}. " <> gettext("Lesson") %></h4>
    </div>
    <%= for {_, elements_for_a_day} <- grouped_schedules_by_weekday do %>
      <div class="col-xs-<%= cols_span %> text-center">
        <%= for schedule <- Map.get(grouped_by_lesson_order(elements_for_a_day), lesson, []) do %>
          <div class="panel panel-default">
            <div class="panel-heading"><%= "#{schedule.title}: #{remove_seconds(schedule.from)}-#{remove_seconds(schedule.to)}" %></div>
            <div class="panel-body with-only-links">
              <%= link to: schedule_path(@conn, :edit, schedule), class: 'pull-left', title: gettext("Edit") do %>
                <i class="fa fa-edit smaller-than-2x" aria-hidden="true"></i>
              <% end %>
              <div class="pull-right">
                <%= link to: schedule_path(@conn, :delete, schedule), method: :delete, data: [confirm: "Are you sure?"], title: gettext("Delete") do %>
                  <i class="fa fa-trash smaller-than-2x" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>


<%= link to: schedule_path(@conn, :new) do %>
  <i class="fa fa-plus" aria-hidden="true"></i>
  <%= gettext("New Timetable Item") %>
<% end %>
