<h1><%= gettext "New Teacher" %></h1>

<%= if @changeset.action do %>
  <div class="alert alert-danger">
    <p><%= gettext "Oops, something went wrong! Please check the errors below." %></p>
  </div>
<% end %>
<%= form_for @changeset, teacher_path(@conn, :create), fn f -> %>
  <div class="form-group">
    <%= label f, :title, gettext("Title"), class: "control-label" %>
    <%= select f, :title, [{gettext("Mrs."), "f"}, {gettext("Mr."), "m"}, {gettext("Other"), "o"}], class: "form-control", prompt: gettext("Choose Title") %>
  </div>
  <div class="form-group">
    <%= text_input f, :firstname, placeholder: "First Name", class: "form-control" %>
    <%= error_tag f, :firstname %>
  </div>
  <div class="form-group">
    <%= text_input f, :lastname, placeholder: "Last Name", class: "form-control" %>
    <%= error_tag f, :lastname %>
  </div>
  <div class="form-group">
    <%= text_input f, :username, placeholder: "Email", label: "Email", class: "form-control" %>
    <%= error_tag f, :username %>
  </div>
  <div class="form-group">
    <%= password_input f, :password, placeholder: "Password", class: "form-control" %>
    <%= error_tag f, :password %>
  </div>
  <div class="form-group">
    <%= password_input f, :password_confirmation, placeholder: "Password Confirmation", class: "form-control" %>
    <%= error_tag f, :password_confirmation %>
  </div>
  <%= submit gettext("Create teacher"), class: "btn btn-primary" %>
<% end %>
