<h2><%= @appointment.title %></h2>

<ul>
  <li>
    <strong><%= gettext("From") %>:</strong>
    <%= @appointment.from %>
  </li>

  <li>
    <strong><%= gettext("To") %>:</strong>
    <%= @appointment.to %>
  </li>
</ul>

<p class="list-group-item-text"><%= markdown(@appointment.description) %></p>

<hr />
<%#= for comment <- @appointment.comments do %>
  <%#= comment.title %>
<%# end %>
<hr />
<%= link gettext("Back"), to: time_line_path(@conn, :index, @teacher.url_code) %>
