/* This file is for your main application css. */
.alert:empty { display: none; }

.day-separater {
  margin-top: 10px;
}

.form-in-navbar {
  margin-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

nav li a {
  color: #777;
}

p.list-group-item-text {
  white-space: pre;
}

.list-group-item-content {
  max-height: 70px;
  overflow: auto;
}

// class added to delete form
.link {
  display: inline-block;
}

.form-group span.help-block {
  color: #a94442;
}

.panel-body.with-only-links {
  padding: 5px;
}

.fa.smaller-than-2x {
  font-size: 19px;
}

.schedule-list-group {
  background-color: #f9f9f9;
}
