<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p><%= gettext "Oops, something went wrong! Please check the errors below." %></p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :title, gettext("Title"), class: "control-label" %>
    <%= text_input f, :title, class: "form-control" %>
    <%= error_tag f, :title %>
  </div>

  <div class="form-group">
    <%= label f, :description, gettext("Description"), class: "control-label" %>
    <%= textarea f, :description, class: "form-control" %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group">
    <%= label f, :from, gettext("From"), class: "control-label" %>
    <div class='input-group date js-datetimepicker'>
      <%= text_input f, :from, class: "form-control" %>
      <span class="input-group-addon">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </span>
    </div>
    <%= error_tag f, :from %>
  </div>

  <div class="form-group">
    <%= label f, :to, gettext("To"), class: "control-label" %>
    <div class='input-group date js-datetimepicker'>
      <%= text_input f, :to, class: "form-control" %>
      <span class="input-group-addon">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </span>
    </div>
    <%= error_tag f, :to %>
  </div>

  <div class="form-group">
    <%= submit class: "btn btn-primary" do %>
      <i class="fa fa-save" aria-hidden="true"></i>
      <%= gettext("Submit") %>
    <% end %>
  </div>
<% end %>

<link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>var simplemde = new SimpleMDE();</script>
