<h2><%= gettext "Listing appointments" %></h2>

<table class="table">
  <thead>
    <tr>
      <th><%= gettext "Title" %></th>
      <th><%= gettext "Description" %></th>
      <th><%= gettext "School class" %></th>
      <th><%= gettext "From" %></th>
      <th><%= gettext "To" %></th>

      <th></th>
    </tr>
  </thead>
  <tbody>
  <%= for appointment <- @appointments do %>
    <tr>
      <td><%= appointment.title %></td>
      <td><%= String.slice(appointment.description, 0..14) %></td>
      <td><%= appointment.school_class_id %></td>
      <td><%= appointment.from %></td>
      <td><%= appointment.to %></td>

      <td class="text-right">
        <%= link to: appointment_path(@conn, :show, appointment), class: "btn btn-default btn-xs", title: gettext("Show") do %>
          <i class="fa fa-search-plus" aria-hidden="true"></i>
        <% end %>
        <%= link to: appointment_path(@conn, :edit, appointment), class: "btn btn-default btn-xs", title: gettext("Edit")  do %>
          <i class="fa fa-edit" aria-hidden="true"></i>
        <% end %>
        <%= link to: appointment_path(@conn, :delete, appointment), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-default btn-xs", title: gettext("Delete") do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link to: appointment_path(@conn, :new) do %>
  <i class="fa fa-plus" aria-hidden="true"></i>
  <%= gettext("New appointment") %>
<% end %>
