<h2><%= gettext "New appointment" %></h2>

<%= render "form.html", changeset: @changeset,
                        action: appointment_path(@conn, :create) %>

<%= link to: appointment_path(@conn, :index) do %>
  <i class="fa fa-arrow-left" aria-hidden="true"></i>
  <%= gettext("Back") %>
<% end %>
