<h2><%= gettext "Show appointment" %></h2>

<ul>

  <li>
    <strong><%= gettext("Title") %>:</strong>
    <%= @appointment.title %>
  </li>

  <li>
    <strong><%= gettext("Description") %>:</strong>
    <%= @appointment.description %>
  </li>

  <li>
    <strong><%= gettext("Teacher") %>:</strong>
    <%= @appointment.teacher_id %>
  </li>

  <li>
    <strong><%= gettext("School class") %>:</strong>
    <%= @appointment.school_class_id %>
  </li>

  <li>
    <strong><%= gettext("From") %>:</strong>
    <%= @appointment.from %>
  </li>

  <li>
    <strong><%= gettext("To") %>:</strong>
    <%= @appointment.to %>
  </li>

</ul>

<%= link gettext("Edit"), to: appointment_path(@conn, :edit, @appointment) %>
<%= link gettext("Back"), to: appointment_path(@conn, :index) %>
