<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "What next? app" %></h2>
  <p class="lead">
    <%= gettext "It shows persons get your link to see your managed appointments" %><br />
    <% if @current_teacher do %>
      link: <%= "#{@host_url}/#{@current_teacher.url_code}" %>
    <% end %>
  </p>
</div>
