<p><%= @teacher.firstname %></p>
<p><%= @teacher.lastname %></p>
<p>
  <a href='<%= "#{@host_url}/#{@teacher.url_code}" %>' target='_blank'>
    <i class="fa fa-link" aria-hidden="true"></i>
    <%= "#{@host_url}/#{@teacher.url_code}" %>
  </a>
</p>

